{% extends "layouts/navbar.html" %}
{% block custom_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/channels.css') }}" type="text/css">
{% endblock %}

{% block navbar_content %}
<!-- TODO: Channel-List -->
<div class="container fill" style="overflow:auto;">
	<div class="row justify-content-center h-100">
		<div class="align-self-center">
			<div class="grid">
				{% for room in room_list %}
				<figure class="effect-sadie">
					<a href="{{url_for('index',room_id=room.room_id)}}">
						<iframe src="{{ 'https://www.youtube.com/embed/' + room.url +'?autoplay=1&mute=1' }}" frameborder="0"></iframe>
						<figcaption>
							<h3> {{ room.title }} </h3>
							<p>
								{{ room.user_id }}
							</p>
						</figcaption>
					</a>
				</figure>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!--pop up for create room -->
<div class="container fill">
	<div class="row justify-content-center h-100">
		<div class="popup" id="create_room_win" style=" display:none" Scrolling="yes">
			<input type="image" src="/static/images/close.png" onclick="myFunction()" style="width: 2%; float:right" />
			<form action="{{url_for('create_room')}}" method="POST">
				<label for="url"><b>YouTube ID:</b></label>
				<input type="text" name="url"><br><br>
				<label for="title"><b>Title:</b></label>
				<input type="text" name="title"><br><br>
				<input type="submit" class="btn btn-dark" name="send" value="Submit">
			</form>
		</div>
	</div>
</div>
<script>
	// When the user clicks on <div>, open the popup
	function myFunction() {
		var popup = document.getElementById("create_room_win");
		if (popup.style.display === "none") {
			popup.style.display = "block";
		} else {
			popup.style.display = "none";
		}
	}
</script>
<!-- For Loop -->
{% endblock %}
{% block body_content %}
{% endblock %}
