{% extends "layouts/navbar.html" %}
{% block custom_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/channels.css') }}" type="text/css">
{% endblock %}

{% block navbar_content %}
<!-- TODO: Channel-List -->
<div class="container fill" style="overflow:auto;">
	<div class="row justify-content-center h-100">
		<div class="align-self-center">
			<div class="grid">
				{% for room in room_list %}
				<figure class="effect-sadie">
					<a href="{{url_for('index',room_id=room.room_id)}}">
						<iframe src="{{ 'https://www.youtube.com/embed/nDcAlnvenzU'+'?autoplay=1&mute=1'}}" frameborder="0"></iframe>
						<figcaption>
							<h2> {{ room.title }} </h2>
							<p>
								{{ room.user_id }}
							</p>
						</figcaption>
					</a>
				</figure>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- For Loop -->
{% endblock %}
{% block body_content %}
{% endblock %}
