{% extends "layouts/navbar.html"%}
{% block custom_head %}

{% endblock %}
{% block navbar_content %}
<div class="container fill">
	<div class="row justify-content-center h-100">
		<div class="col-md-8 col-sm-12 text-center align-self-center header-bg header-text">
			<br />
			<h5>
				Cloud Computing FALL
			</h5>
			<p>
				r08921a07 曾梓豪 <br>
				r08921a08 廖子毅 <br>
				r09921a10 鄭翔予 <br>
			</p>
		</div>
	</div>
</div>

<!--pop up for create room -->
<div class="container fill">
	<div class="row justify-content-center h-100">
		<div class="popup" id="create_room_win" style=" display:none" Scrolling="yes">
			<input type="image" src="/static/images/close.png" onclick="myFunction()" style="width: 2%; float:right" />
			<form action="{{url_for('create_room')}}" method="POST">
				<label for="url"><b>YouTube ID:</b></label>
				<input type="text" name="url"><br><br>
				<label for="title"><b>Title:</b></label>
				<input type="text" name="title"><br><br>
				<input type="submit" class="btn btn-dark" name="send" value="Submit">
			</form>
		</div>
	</div>
</div>
<!--span class="popuptext" id="create_room_win">Popup text...</span-->
<script>
	// When the user clicks on <div>, open the popup
	function myFunction() {
		var popup = document.getElementById("create_room_win");
		if (popup.style.display === "none") {
			popup.style.display = "block";
		} else {
			popup.style.display = "none";
		}
	}
</script>
{% endblock %}
{% block body_content %}
{% endblock %}
