{% extends "layouts/navbar.html"%}
{% block navbar_content %}
  {% if user %}

  {% else %}
    <div class="container fill">
      <div class="row justify-content-center h-100">
        <div class="col-md-8 col-sm-12 text-center align-self-center header-bg header-text">
          <br />
          <h5>
            Cloud Computing FALL
          </h5>
          <p>
            r08921a07 曾梓豪 <br>
            r08921a08 廖子毅 <br>
            r09921a10 鄭翔予 <br>
          </p>
        </div>
      </div>
    </div>`
  {% endif %}
{% endblock %}
{% block body_content %}
{% endblock %}
