{% extends "layouts/navbar.html"%}
{% block custom_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/normalize.css')}}" type="text/css" />
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css'>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css')}}" type="text/css" /> -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/mystyle.css')}}" type="text/css" /> -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='javascripts/plugins/croppic/assets/css/bootstrap.css') }}" type="text/css"/> -->
<link rel="stylesheet" href="{{ url_for('static', filename='javascripts/plugins/croppic/assets/css/croppic.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css')}}" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css')}}" type="text/css" />

<!-- Utils -->
<script src="{{ url_for('static', filename='javascripts/jquery.min.js')}}"></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js'></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.min.js'></script>
<script src="{{ url_for('static', filename='javascripts/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='javascripts/index.js')}}"></script>
<script src="{{ url_for('static', filename='javascripts/plugins/croppic/croppic.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/picture.js') }}"></script>

{% endblock %}

{% block navbar_content %}

<div class="container fill">
  <div class="row justify-content-center h-100">
    <div class="col-8 text-center align-self-center h-75">
      <!-- NEW -->
      <div class="row mt-3">
        <div class="col-2" style="color:white;">
          <h3>{{ Title }}</h3>
        </div>
        <div class="col-2 offset-8 d-grid gap-2">
          {% if Room_host == user.name %}
          <form action="{{url_for('del_room')}}" method="POST">
            <input type="hidden" name="title" value="{{ Title }}">
            <input type="hidden" name="url" value="{{ youtube_url }}">
            <input type="submit" class="btn btn-danger" name="send" value="Stop">
          </form>
          {% endif %}
        </div>
      </div>
      <!-- NEW -->
      <div class="videoWrapper">
        <!-- Copy & Pasted from YouTube -->
        <iframe src="{{ youtube_url+'?autoplay=1&mute=1'}}" frameborder="0" allowfullscreen></iframe>
        <!-- <iframe src="https://www.youtube.com/embed/0CYuKq23KSw" frameborder="0" allowfullscreen></iframe> -->
      </div>
    </div>
    <div class="chat-room col-4 align-self-center">
      <div class="chat-title">
        <div class="row mt-3">
          <div class="col-2" style="color:white;">
            <!-- <h3> {{ current_user.id }} </h3> -->
            <div id="Ad">
              <!-- <img src="https://graph.facebook.com/v2.2/100012914590751/picture?type=large" class="img-thumbnail"> -->
            </div>
          </div>
        </div>
        
      </div>
      <!-- <div class="videoWrapper"> -->
        <div class="chat chatWrapper">
          <div class="messages">
            <div class="messages-content">
              {% for data in messages_list %}
              <div class="message new row">
                <div class="col-2">
                  <figure class="avatar"><img src="/static/mugshot/{{ data.MugShot }}" align="top"></figure>
                  <div class="user-name">{{ data.UserName }}</div>
                </div>
                <div class=col>
                  <div class="text">{{ data.Messages }}</div>
                </div>
                <div class="timestamp">{{ data.CreateDate }}</div>
              </div>
              {% endfor %}
            </div>
            <div class="message-box align-self-end">
              <div>
                <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
                <button type="submit" class="message-submit">Send</button>
              </div>
            </div>
          </div>
          <div class="room_id">{{ RoomId }}</div>
          <div id="Ad">
            <!-- <img src="https://graph.facebook.com/v2.2/100012914590751/picture?type=large" class="img-thumbnail"> -->
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>

{% endblock %}
{% block body_content %}
{% endblock %}
